body {
  padding: 0;
  margin: 0;
  border: none;
  outline: none;
  box-sizing: border-box;
  background-color: var(--color-three);
}

h1 {
  margin: 0;
  font-size: 40px;
}

h2,
h3,
h4,
h5,
h6,
p {
  margin: 0;
}

li {
  list-style: none;
}

a {
  text-decoration: none;
}

div {
  box-sizing: border-box;
}

:root {
  --color-one: #204a43;
  --color-two: #607432;
  --color-three: #8f9b74;
  --color-four: #b0ba99;
  --color-five: #d8ddcc;
  --color-six: #f2f5ee;

  --color-yellow: #fdcc70;
  --color-yellow-two: #fde4a8;
  --color-pink: #f78f9b;
  --color-blue: #5cd2d0;
}