.all-adoptions {
    width: 80%;
    margin: 30px auto;
    padding: 30px 60px;
    background-color: var(--color-six);
    box-shadow: 0 0px 10px 0px var(--color-two);
    border-radius: 5px;
    color: var(--color-one);
}

